* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: san-serif;
  text-align: center;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: black;
  padding: 0;
  margin: 0;
}

#container {
  height: 600px;
  width: 600px;
  background-image: url("./background-img.jpg");
  position: relative;
}

.link {
  margin-bottom: 100vh;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.block {
  position: absolute;
  top: 50%;
  transform: translate(21%, -50%);
  padding: 10px;
  height: 70vh;
  width: 60vh;
  border: 2px solid white;
  box-shadow: 4px 4px 10px black;
}

#container h2 {
  text-align: center;
  color: white;
  font-size: 50px;
}
#counter {
  text-align: center;
  color: green;
  font-size: 220px;
  font-weight: 400;
}

#buttons {
  height: 50px;
  width: 260px;
  position: static;
  bottom: 8%;
  left: 70px;
}

#buttons button {
  height: 50px;
  /*width: 120px;*/
  background: #1479ff;
  outline: none;
  border-radius: 5px;
  color: #fff;
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
}

#decrement {
  position: absolute;
  width: 130px;
  /*bottom: 10000px;*/
  right: 138px;

  margin-top: 60px;
  border-collapse: collapse;
}

#increment {
  width: 180px;
  left: 120px;
  position: absolute;
  right: 0;
}

  
